@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  min-width: fit-content;
}

body {
  background-color: #3b4664;
  font-family: 'League Spartan', sans-serif;
}
